/* style body font */
body {
  font-family: Helvetica, sans-serif, monospace;
  font-weight: 200;
  color: rgb(40, 51, 56);
}

/* style header */
header {
  padding: 10px 35px;
  background-color: #282d2e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
}

header nav {
  margin: 30px 0;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
  background: aqua;
  padding: 5px;
}

header a {
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 20px;
  font-weight: lighter;
  font-size: 1.8vw;
  color: aqua;
  text-decoration: underline;
}

header nav ul li a:hover {
  color: #024e76;
}

/* style hero */
.hero {
  /* background-image */
  background-image: url('../images/portfolio-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  background-attachment: fixed;
  height: 300px;
  position: relative;
}

.hero h3 {
  background: aqua;
  margin-bottom: 50px;
  margin-right: 60px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
  padding: 10px;
}
/* style about me section  */
.main-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  padding: 20px 0px 10px 30px;
}

.section-left {
  padding-right: 40px;
  padding-left: 120px;
  border-right-style: solid;
  border-right-color:gray;
  text-align: right;
  width: 350px;
}

.section-right {
  padding: 10px 80px 20px 30px;
  width: 100%;
}

h2 {
  font-size: 50px;
}

.box-border {
  border-style: solid;
  border-color:aqua;
}

.big-box {
  background-image: url('../images/wide-screen.png');
  background-size: cover;
  background-position: center;
  height: 400px;
}

.section-right h3 {
  background: aqua;
  width: 10%;
  padding: 10px;
  position: absolute;
  margin-top: 280px;
}

.small-text {
  font-size: small;
  font-weight: lighter;
}

.small-box {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 48%;
}
.small-box:hover {
  height: 210px;
  width: 50%;
}

.small-box h3 {
  position: absolute;
  margin-top: 100px;
}

.row-one, .row-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-one {
  background-image: url('../images/red-dots.png');
  float: left;
}

.box-two {
  background-image: url('../images/computer.png');
  float: right;
}

.box-three {
  background-image: url('../images/drink.jpeg');
  float: left;
}

.box-four {
  background-image: url('../images/run.png');
  float: right;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
.contact-info a {
    text-decoration: none;
    border-bottom: 3px solid;
    color: rgb(40, 51, 56);
    padding: 10px;
    font-size: 22px;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .section-left {
    border-bottom: 3px solid;
    border-right: 3px solid transparent; 
  }

  .section-left {
    text-align: center;
    width: 82%;
  }  

  .main-section {
    flex-direction: column;
    max-width: 80%;
    margin-top: 5px;
    margin-right: 140px;
  }
  
  .section-right {
    padding: 0px 0px 0px 0px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 980px) {
  /* header css */
  header {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }
  header h1 {
    padding: 20px;
    text-align: center;
  }
  header nav ul {
    justify-content: center;
    margin-right: 40px;
  }

  .hero {
    height: 200px;
  }

  .section-right h3 {
    width: 15%;
  }

  .contact {
    margin: 0 auto;
    margin-top: 50px;
  }
}
